body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-1024-80.jpg.webp');
  min-height: 100%;
}

.box-shadow1 {
    box-shadow: 2px 2px lightblue;
}

.CardContainer {
  height: 400px;
}

.beachImage{
  height: 300px;
  width: 300px;
}

.filterDiv {
  float: left;
  background-color: rgba(228, 206, 206, 0.185);
  width: 300px;
  color: #1616188c;
  text-align: center;
  margin-left: 20px;
  display: none;
  border-radius:10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}



.beachImage img{
  height: 100%;
  width: 100%;
}

.rounded-corners1 {
    border-radius:10px;
}

.img_1 {
    float:left;
    width:100%;

    padding:0.01em 16px;

    margin-bottom:16px!important;


    /* min-height: 100%; */
  }



/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}