body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-1024-80.jpg.webp');
  min-height: 100%;
}

.box-shadow1 {
    box-shadow: 2px 2px lightblue;
}

.CardContainer {
  height: 400px;
}

.beachImage{
  height: 300px;
  width: 300px;
}

.beachImage img{
  height: 100%;
  width: 100%;
}

.rounded-corners1 {
    border-radius:10px;
}

.img_1 {
    float:left;
    width:100%;

    padding:0.01em 16px;

    margin-bottom:16px!important;


    /* min-height: 100%; */
  }



/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}